<h2>Lista de Tarefas</h2>

<div *ngIf="tarefas.length === 0">
  <p>Nenhuma tarefa cadastrada</p>
</div>

<ul>
  <li *ngFor="let tarefa of tarefas">
    <span [style.text-decoration]="tarefa.concluida ? 'line-through' : 'none'">
      {{ tarefa.nome }}
    </span>
    <button (click)="remover(tarefa.id)">Remover</button>
    <button (click)="concluir(tarefa.id)">
      {{ tarefa.concluida ? 'Desfazer' : 'Concluir' }}
    </button>
  </li>
</ul>

<br />
<a routerLink="/cadastrar">Cadastrar nova tarefa</a>
